:root {
    --main-bg-color: #000000;
    --main-txt-color: #ffffff;
    --main-bg-sel-color: #ff0000;
    --borders-width: 1px;
    /* --borders-width: 0.15rem; */
    --borders-radius: 0.2rem;
}

html {
    height: 100%;
}

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Share Tech Mono', monospace;
}

body {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    /* background: url("/images/background.jpg"); */
    /* font-family: 'Share Tech Mono', monospace; */
}

footer {
    color: var(--main-txt-color);
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#header-container {
    background: var(--main-bg-color);
    /* background: red; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    /* background: linear-gradient(to bottom right, #ffffff 100%, transparent 10%) no-repeat bottom; */
}

#about-button,
#projects-button,
#lang-button {
    background: var(--main-bg-color);
    color: var(--main-txt-color);
    margin: 0.3rem;
    border-style: solid;
    border-width: var(--borders-width);
    border-radius: var(--borders-radius);
    border-color: var(--main-txt-color);
}

#about-button,
#projects-button {
    font-size: 1.2rem;
    cursor: pointer;
}

#about-button {
    display : none;
}

#lang-button {
    float: right;
    font-size: 0.8rem;
}

#about-button:hover,
#projects-button:hover,
#lang-button:hover {
    background: var(--main-bg-sel-color);
}

.center {
    margin: auto;
    text-align: center;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.fotoyo {
    margin: 0.75rem auto;
    border-style: solid;
    border-width: var(--borders-width);
    border-radius: 50%;
    border-color: var(--main-txt-color);
}

.page-container {
    /* height: 100%; */
    position: relative;
    /* min-height: 100vh; */
    /* min-height: calc(97vh - 1.5rem); */
}

#about,
#projects {
    margin-top: 3.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    /* min-height: 100vh; */
    min-height: calc(95vh - 1.5rem);
    /*float: left; */
}

#projects {
    /* margin-top: 3.5rem;
    position: absolute;
    top: 0; */
    display: none;
    /* width: 100%; */

    /* min-height: calc(90vh - 1.5rem);
    width: 40%;
    background: blue; */
}

#description {
    text-align: justify;
    margin: 0;
    padding: 0.75rem;
    border-style: solid;
    border-width: var(--borders-width);
    border-radius: var(--borders-radius);
    border-color: var(--main-txt-color);
}

#social {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spaaace {
    height: 3rem;
    /* margin-bottom: 1.5rem; */
}

.fab,
.fas,
.far {
    color: var(--main-txt-color);
    padding: 0.25rem 0.15rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.fab:hover,
.fas:hover,
.far:hover {
    color: var(--main-bg-sel-color);
}

.project-left,
.project-right {
    margin: auto 1.5rem;
}

.project-right {
    position: relative;
}

.project-left p {
    text-align: justify;
}

.project-slides {
    margin-bottom: 1rem;
    /* display: none; */
    /* border-style: solid;
    border-width: var(--borders-width);
    border-color: var(--main-txt-color); */
}

.project-img {
    width: 100%;
}

.nav-left,
.nav-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.25rem;
    margin-top: -1rem;
    color: var(--main-bg-color);
    background-color: var(--main-txt-color);
    font-weight: bold;
    border-radius: 0 var(--borders-radius) var(--borders-radius) 0;
}

.nav-right {
    right: 0;
    border-radius: var(--borders-radius) 0 0 var(--borders-radius);
 }

.nav-left:hover,
.nav-right:hover {
    color: var(--main-txt-color);
    background-color: var(--main-bg-sel-color);
}

.p-white,
.p-black {
    margin-left: 0.5rem;
}


.p-white {
    background: #ffffff;
    color: #000000 !important;
}

.p-black {
    background: #000000;
    color: #ffffff !important;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 var(--borders-width) var(--borders-width);
}


.links-container {
    background-color: var(--main-bg-color);
    width: max-content;
    margin: 1.25rem;
    margin-left: -1px;
    border-style: solid;
    border-color: #ffffff #ffffff #ffffff #000000;
    border-width: var(--borders-width);
    border-radius: 0 0.75rem 0.75rem 0;
}

@media screen and (min-width: 64em) {
    #about-button,
    #projects-button,
    #lang-button {
        margin: 0.5rem;
    }

    #about-button,
    #projects-button {
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }

    #lang-button {
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    #about,
    #projects {
        margin-top: 4.5rem;
    }

    .fotoyo {
        margin: 0.75rem auto;
    }

    #description {
        margin: auto 2rem;
    }

    .project-left {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 3rem;
        margin-right: 1.5rem;
    }

    .project-right {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1.5rem;
        margin-right: 3rem;
    }
}

/* .triangle-top-left {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom right, #830024 50%, transparent 50.5%) no-repeat bottom;
} */

/* .triangle-top-left:hover {
    background: linear-gradient(to bottom right, #09eb2f 50%, transparent 50.5%) no-repeat bottom;
}   */



/* * {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #fdfdfd;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-top: 70px;
}

img {
     max-width: 100%;
}

a{
    color: #ffffff;
}

a:hover{
    color: #ff0000 !important;
}

#green-terminal {
    color: #00ff00;
}

#red-terminal {
    color: #ff0000;
}

.font-header {
    font-family: 'Inconsolata', monospace;
}

.font-paragraph {
    font-family: 'Open Sans', sans-serif;
}

nav {
    font-size: 1.5em;
}

.dropdown-menu li {
    font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Concert One', cursive;
}

#user-name {
    font-size: 5em;
    text-transform: uppercase;
}

.user-description {
    border-style: solid;
    border-width: 5px;
    border-color: #292929;
    margin-top: 20px;
    margin-bottom: 1em;
    padding: 15px;
    font-size: initial;
}

.user-profile {
    padding: 0;
}

.user-picture {
    border-style: solid;
    border-width: 5px;
    border-color: #292929;
    margin-top: 20px;
}

i {
    margin: 10px 20px 10px 20px;
    color: #333;
}

.post-link {
    float: left;
}

.post-date {
    float: right;
}

.post-header {
    background-color: #F5F5F5;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

.post-summary, .post-content{
    clear: both;
}

.post-summary {
    padding: 0 5px 0 5px;
}

.post-list-footer {
    padding-bottom: 5px;
}

#post-list {
    list-style: none;
    padding-left: 0;
}

.post-list-item {
    margin-top: 20px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #292929;
}

.post-comments {
    padding-top: 10px;
    border-top-style: solid;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
}

.wrapper a {
    color: #101010;
}

.footer {
    background-color: #101010;
    display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
}

.footer p {
    color: #ffffff;
}

.push {
    height: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

div p {
    text-align: justify;
}

td {
    margin: 0 20px 0 20px;
} */
