<!-- Links to content -->
{{ with .GithubRepo1 }}
<a href="https://github.com/{{.}}" target="_blank" title="GitHub Repo"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .GithubRepo2 }}
<a href="https://github.com/{{.}}" target="_blank" title="GitHub Repo"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .YoutubeVideo }}
<a href="https://www.youtube.com/watch?v={{.}}" target="_blank" title="Trailer"><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .SteamGame }}
<a href="https://store.steampowered.com/app/{{.}}" target="_blank" title="Steam page"><i class="fab fa-steam fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .ItchioGame }}
<a href="https://{{.}}" target="_blank" title="Itch.IO page"><i class="fab fa-itch-io fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .WebLink }}
<a href="https://{{.}}" target="_blank" title="Website"><i class="far fa-browser fa-3x" aria-hidden="true"></i></a>
{{ end }}