<!-- Links to content -->
{{ with .Site.Params.GithubRepo }}
<a href="https://github.com/{{.}}" rel="me" title="GitHub Repo"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .YoutubeVideo }}
<a href="www.youtube.com/watch?v={{.}}" rel="me" title="Trailer"><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .SteamGame }}
<a href="https://www.store.steampowered.com/app/{{.}}" rel="me" title="Steam page"><i class="fab fa-steam fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .ItchioGame }}
<a href="https://{{.}}" rel="me" title="Itch.IO page"><i class="fab fa-itch-io fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .WebLink }}
<a href="https://{{.}}" rel="me" title="Website"><i class="far fa-browser fa-3x" aria-hidden="true"></i></a>
{{ end }}