<div class="pure-g {{ .pcolor }}">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 vertical-center">
        <div class="project-left">
            <h2>{{ .pname }}</h2>
            <p>{{ .ptech }}</p>
            <p>{{ .ptext }}</p>
        </div>
        <div class="links-container">
            {{ partial "links.html" . }}
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 vertical-center">
        <div class="project-right">
            <div class="project-slides">
                <img class="project-img" src="{{ .pimg }}" data-index="0" data-imgs="{{ .pimgs }}">
                {{ if isset . "pimgs" }}
                    <a class="nav-right">&#x2BC8;</a>
                    <a class="nav-left">&#x2BC7;</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>