<!-- Profiles -->
{{ with .Site.Params.GithubID }}
<a href="https://github.com/{{.}}" target="_blank" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.ItchioID }}
<a href="https://{{.}}.itch.io/" target="_blank" title="Itch.IO"><i class="fab fa-itch-io fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.GitlabId }}
<a href="https://gitlab.com/{{.}}" target="_blank" title="GitLab"><i class="fab fa-gitlab fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.BitbucketID }}
<a href="https://bitbucket.org/{{.}}" target="_blank" title="Bitbucket"><i class="fab fa-bitbucket fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.CodepenID }}
<a href="https://codepen.io/{{.}}" target="_blank" title="Codepen"><i class="fab fa-codepen fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.StackOverflowID }}
<a href="https://stackoverflow.com/users/{{.}}" target="_blank" title="StackOverflow"><i class="fab fa-stack-overflow fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.LinkedInID }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SteamProfile }}
<a href="https://www.steamcommunity.com/id/{{.}}" target="_blank" title="Steam profile"><i class="fab fa-steam fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Email }}
<a href="mailto:{{.}}" target="_blank" title="Email"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
{{ end }}
<!-- Links to content -->
{{ with .Site.Params.YoutubeVideo }}
<a href="www.youtube.com/watch?v={{.}}" target="_blank" title="Trailer"><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SteamGame }}
<a href="https://store.steampowered.com/app/{{.}}" target="_blank" title="Steam page"><i class="fab fa-steam fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.ItchioGame }}
<a href="https://{{.}}" target="_blank" title="Itch.IO page"><i class="fab fa-itch-io fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.WebLink }}
<a href="https://{{.}}" target="_blank" title="Web"><i class="far fa-browser fa-3x" aria-hidden="true"></i></a>
{{ end }}
<!-- Extra -->
{{ with .Site.Params.SlackURL }}
<a href="{{.}}" target="_blank" title="Slack"><i class="fab fa-slack fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.TwitterID }}
<a href="https://twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.InstagramID }}
<a href="https://instagram.com/{{.}}" title="Instagram"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.PayPalMeID }}
<a href="https://www.paypal.me/{{.}}" target="_blank" title="PayPal.Me"><i class="fab fa-paypal fa-3x" aria-hidden="true"></i></a>
{{ end }}


